{{define "title"}}Users - SLAP{{end}}
{{define "header"}}
<span class="text-gray-500">·</span>
<span>// users</span>
{{end}}
{{define "footer_nav"}}
<span class="text-gray-500">·</span>
<a class="text-blue-400 hover:text-blue-300"
   href="/user/{{.SessionUserID}}">[back]</a>
{{end}}
{{define "content"}}
<section class="mb-8">
  <ul class="space-y-1">
    {{ range .Users }}
    <li class="border-b border-gray-800 pb-1">
      <a class="block text-xs flex items-center justify-between hover:bg-gray-800 py-1 px-1 rounded"
         href="/user/{{.ID}}">
        <span>{{.Username}} <span class="text-gray-500">@{{.ID}}</span></span>
        {{ if .IsTeacher }}
        <span class="px-2 py-0.5 rounded-full text-xs bg-purple-800 text-purple-200">Teacher</span>
        {{ end }}
      </a>
    </li>
  {{ else }}
    <li class="text-xs text-gray-400">
      No users found.
    </li>
    {{ end }}
  </ul>
</section>
{{end}}
